# Diretórios do Android Studio
.idea/
.gradle/
build/
captures/
.externalNativeBuild/

# Configurações específicas do usuário
local.properties
*.iml

# Arquivos gerados automaticamente pelo Gradle
/.gradle/
/build/
/out/
/captures/
/tmp/
/*.log

# Configurações de ambiente
.env
.env.local

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

/ip/*
